.contents{
    display: flex;
    align-items: center;
}

#dChart{
    width: 50%; 
    height: 100%;
}

#dChart ul{
    list-style: none;
}



.language-info{
    background-color: var(--gray50);
    width: 47%;
    height: 80%;
    margin-left: 2%;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 3px var(--gray400);
    box-sizing: border-box;
    padding: 10px 15px;
}
.language-info>.title{
    text-transform: uppercase;
}
.language-info > .framework-box{
    display: flex;
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    align-items: center;
    margin-top: 10px;
}
.language-info > .framework-box::-webkit-scrollbar{
    height: 5px;
}
.language-info > .framework-box::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: var(--gray200);
}
.language-info > .framework-box > p{
    font-size: 13px;
    margin: 5px 3px;
    background-color: var(--gray100);
    padding: 3px 8px;
    border-radius: 50px;
    color: var(--gray700);
    transition: 0.3s;
}
.language-info > .framework-box > p:hover{
    color: var(--blue);
}
.language-info > .info-box{
    /* width: 50%; */
    /* float: left; */
    max-height: 70%;
    overflow-y: scroll;
    margin: 20px auto 0 auto;
    display: inline-block;
    list-style: none;
    padding-left: 0;
}
.info-box::-webkit-scrollbar{
    width: 5px;
}
.info-box::-webkit-scrollbar-thumb{
    border-radius: 50px;
    background-color: var(--gray200);
}
.info-box > li:first-child{
    margin-top: 0;
}
.info-box > li:last-child{
    margin-bottom: 0;
}
.info-box > li{
    margin: 7px 0;
}
.info-box > li::before{
    content: '✔️ ';
}