#otherSkill{
    /* min-height: 100vh; */
    height: auto;
}

#otherSkill > .contents{
    transform: translate(-50%, -40%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(minmax(100px, auto));
    row-gap: 20px;
    column-gap: 10px;
    justify-items: stretch;
    align-items: start;

    max-height: 65%;
    overflow-y: scroll;
}
#otherSkill > .contents::-webkit-scrollbar{
    background-color: inherit;
    width: 5px;
}
#otherSkill > .contents::-webkit-scrollbar-thumb{
    background-color: var(--gray400);
    border-radius: 20px;
}

.contents > .others{
    background-color: var(--gray100);
    padding: 20px;
    border-radius: 10px;
}
.others > h2{
    font-size: 1.8rem;
    font-weight: 400;
    color: var(--gray800);
    position: relative;
    display: flex;
    padding-left: 10px;
}
.others > h2::before{
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0px;
    height: 120%;
    width: 4px;
    background-color: var(--gray800);
    transform: translateY(-10%);
}

.others > ul,
.others > li
{
    list-style: none;
}
.others > ul{
    margin-top: 20px;
    font-size: 1rem;
    color: var(--gray600);
}


/* 더보기 버튼 */
.btn-open{
    display: flex;
    position: absolute;
    width: 100%;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 40px;
    border: none;
    background-color: var(--gray50);
    font-size: 30px;
    color: var(--blue);
    transition: 0.3s;

    text-align: center;
    justify-content: center;
    align-items: center;
}

.skills_readmore{
    animation: 0.7s ease-out -.4s 1 normal both running slide-left;
    opacity: 1;
}