@import url(../mainStyle.css);

body{

}

.all {
    /* background-color: beige; */
    display: flex;
    /* align-items: center; */
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    justify-content: space-between;
}

.FirstLs {
    /* background-color: aquamarine; */
    display: inline-block;
    place-content: center;
    position: relative;
    text-align: center;
    margin: 50px;
    border: solid #9ea4aa;
    border-radius: 5%;
    background-color: #9ea4aa;
}

.SecondLs {
    /* background-color: darkcyan; */
    display :inline-block;
    place-content: center;
    position: relative;
    text-align: center;
    margin: 50px;
    border: solid #9ea4aa;
    border-radius: 5%;
    background-color: #9ea4aa;
}

.plusBtn {
    /* background-color: bisque; */
    display :inline-block;
    place-content: center;
    position: relative;
    text-align: center;
    margin: 50px;
    align-items: center;
}  

.delimg{
    position: absolute;
    float: right;
    top: 5px;
    width: 20px;
    height: 20px;
    right: 8px
}

textarea {
    width: 300px;
    height: 300px;
    border: solid #9ea4aa;
    border-radius: 5%;
    resize: none;
    margin : 30px
}

#tag {
    width: 100px;
    height: 30px;
    border: solid #9ea4aa;
    border-radius: 10%;
}

#Lang{
    margin-top: 10px;
}