@import url("../mainStyle.css");
@import url('../setting/settingBtnSave.css');

#project {
    position: absolute;
    top: 70px;
    right: 50%;
    transform: translateX(50%);
    justify-content: space-evenly;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
}

.front,
.back {
    position: relative;
    width: 300px;
    height: 100%;
    background-color: var(--gray100);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 10px;
}


input[type='file']{
    display: none;
}


/* 
    앞면
*/
label[for='btnInputImg']{
    width: 100%;
    height: 40%;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    transition: .2s;
}
label[for='btnInputImg'] ion-icon{
    font-size: 2rem;
    width: 50%;
    height: 50%;
    background-color: transparent;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--blue);
}
.front .btn-input-img{
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    cursor: pointer;

    border-bottom: 2px solid var(--gray400);
}

input[type="text"], textarea{
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--gray50);
    resize: none;

    width: 100%;
    margin: 5px 0;
}
input:focus{
    outline: none;
    background-color: var(--gray200);
}


.project_intro {
    height: 33%;
}
.project_title {
    font-weight: bold;
    text-align: center;
    font-size: 1.2rem;
    text-overflow: ellipsis;
}

#projectAbout {
    width: 80%;
    font-size: 13px;
    text-align: center;
    color: var(--gray800);
    -webkit-line-clamp: 3;
    /* 3번째 줄 까지 보이면서 말줄임표 */
}

#projectDate {
    position: absolute;
    bottom: 10px;
    width: 100%;
    font-size: 12px;
    text-align: center;
    color: var(--gray800);
}



/**
    나의 기여도
*/
/* .title{
    position: relative;
    top: 20px;
    right: 90px;
} */

.project_contribution {
    height: 33%;
}

/**
    기술 스택
*/
.tactstack-wrap{
    width: 100%;
    height: 40%;
    background-color: red;
}
.tactstack-wrap > .title{
    font-weight: bold;
}

.stack{
    display: flex;
    width: 100%;
    height: 30%;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-wrap: wrap;

    align-items: center;
}
.stack::-webkit-scrollbar{
    width: 10px;
    background-color:transparent;
  }
.stack::-webkit-scrollbar-thumb{
    background-color: var(--gray600);
    border-radius: 50px;
  }


.stack > .btn-add-stact{
    background-color: transparent;
    color: var(--blue);
    font-size: 1.2rem;
    width: 10%;
    height: 10%;
    border: none;

    margin-right: 10px;
    transition: .3s;
}
.stack > .btn-add-stact:hover{
    color: var(--curcer-blue);
}

.stack > span{
    min-width: auto;
    max-width: 100%;
    background-color: var(--blue);
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    padding: 5px 10px;
    margin: 2px 3px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--gray50);
    cursor: pointer;
    transition: .3s;
}
.stack > span:hover{
    background-color: var(--curcer-blue);
}
.stack input[type="text"]{
    margin: 0;
    padding: 0;
    background-color: transparent;
    color: var(--gray50);
}
.stack input[type="text"]:focus{
    background-color: var(--curcer-blue);
}
.stack input[type="text"]:focus span{
    background-color: var(--curcer-blue);
}

/**
    input box 설정
*/
/* 
.technical_stack {
    height: 9%;
    width: 90%;
    border: 2px solid black;
    border-radius: 1rem;
    margin: 30px 0 5px 0;
} */


/**
    본문 구분선
*/
.divline {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 76%;
    justify-self: flex-start;
}

.divline>hr {
    width: 98%;
    height: 0.2%;
    background-color: var(--gray200);
    border: none;
    position: relative;
    top: 2.6%;
}

.divline>span {
    margin-left: 40px;
    width: 15%;
    display: inline;
    font-size: 25px;
}




/* 아이콘 */
.icon-wrap {
    background-color: yellow;
    width: 100%;
    height: 8%;
    padding: 5px 0;
    /* position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    border-top: 2px solid var(--gray600); */
}

.icon-box {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.icon-box i {
    padding: 5px;
    margin: 0 10px;
    color: var(--gray600);
    transition: 0.3s;
}

.icon-box i:hover {
    color: var(--gray900);
}

.icon-box img {
    width: 10%;
}

/**
    프로젝트 이미지
*/
.project_imgs {
    position: absolute;
    top: 90%;
    right: 50%;
    transform: translate(50%, -15%);
    justify-content: left;
    width: 94%;
    height: 30%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
}

.project_img_card {
    width: 400px;
    height: 100%;
    border: 1px;
    margin-right: 25px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: .5s;
    flex-shrink: 0;
}

.add_project_img_card {
    width: 230px;
    height: 100%;
    border: 1px;
    margin-right: 40px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    transition: .5s;
    flex-shrink: 0;
}

.add_img_btn {
    width: 230px;
    height: 100%;
}

.add_img_btn img{
    width: 20%;
    height: 19%;
    

}

.project_img_card>img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

/**
    markdown 에디터
*/
#editor {
    position: absolute;
    width: 100%;
    top: 130%;
    background-color: white;
}