<!DOCTYPE html>
<html lagn="ko" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer">
    <ul class="footerul">
        <li class="footerli">
            <a href="#">
                <i class="fa-solid fa-circle tooltip">
                    <span class="tooltiptext tooltip-top">Home</span>
                </i>
            </a>
        </li>
        <li class="footerli">
            <a href="#">
                <i class="fa-solid fa-circle tooltip">
                    <span class="tooltiptext tooltip-top">AboutMe</span>
                </i>
            </a>
        </li>
        <li class="footerli">
            <a href="#">
                <i class="fa-solid fa-circle tooltip">
                    <span class="tooltiptext tooltip-top">LanguageSkill</span>
                </i>
            </a>
        </li>
        <li class="footerli">
            <a href="#">
                <i class="fa-solid fa-circle tooltip">
                    <span class="tooltiptext tooltip-top">OtherSkill</span>
                </i>
            </a>
        </li>
        <li class="footerli">
            <a href="#">
                <i class="fa-solid fa-circle tooltip">
                    <span class="tooltiptext tooltip-top">Project</span>
                </i>
            </a>
        </li>
        <li class="footerli">
            <a href="#">
                <i class="fa-solid fa-circle tooltip">
                    <span class="tooltiptext tooltip-top">Contact</span>
                </i>
            </a>
        </li>
    </ul>
</footer>

</html>