<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/settingLayout}">

<th:block layout:fragment="css">
    <link th:href="@{/css/setting/settingAboutMe.css}" rel="stylesheet">
</th:block>


<th:block layout:fragment="content">
    <!-- aboutME 예시 템플릿 -->
    <section class="main-wrap">
        <div class="ex-template-wrap">
            <!-- 예시 템플릿1 -->
            <div class="ex-template">
                <button class="btn-ex1" type="button" th:onclick="|location.href='@{/setting/aboutmet1}'|" ></button>
                <h4>TYPE 1</h4>
            </div>
    
            <!-- 예시 템플릿2 -->
            <div class="ex-template">
                <button class="btn-ex2" type="button" th:onclick="|location.href='@{/setting/aboutmet2}'|"></button>
                <h4>TYPE 2</h4>
            </div>
        </div>
    </section>
</th:block>

</html>