<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/settingLayout}">
<th:block layout:fragment="script">
    <script src="https://kit.fontawesome.com/71b0ef762e.js" crossorigin="anonymous"></script>
</th:block>
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/setting/settingAboutMeT1.css}">
</th:block>

<!-- fontawesome - 아이콘-->
<th:block layout:fragment="content">
    <!-- aboutMe 템플릿1-->
    <div class="aboutMeTemplate1">

        <!-- 자기 소개1, 대표 이미지 추가버튼-->
        <div class="section1">
            <input id="intro1" type="text" name="intro1">
            <button class="img" type="button"><img class="btn-img"
                    th:src="@{/img/plus.png}"></button>
        </div>

        <!-- 자기소개2, 2부연설명 -->
        <div class="section2">
            <input id="intro2" type="text" name="intro2">
            <textarea id="detail2" name="detail2"></textarea>
        </div>

        <!-- 자기소개3, 3부연설명 -->
        <div class="section3">
            <input id="intro3" type="text" name="intro3">
            <textarea id="detail3" name="detail3"></textarea>
        </div>

    </div>
</th:block>

</html>