<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/settingLayout}">
<link th:href="@{/css/setting/settingOtherSkill.css}" rel="stylesheet">

<th:block layout:fragment="css">
    <link rel="stylesheet" href="@{/css/setting/settingOtherSkill.css}">
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript" defer th:src="@{/js/otherSkill.js}"></script>
</th:block>



<th:block layout:fragment="content">
    <div class="allOtherSkill">
        <div class="FirstOS">
            <input id="MainSkill" type="text" name="MainSkill"><br>
            <input id="Skill" type="text" name="Skill"><br>
            <input id="Skill" type="text" name="Skill"><br>
            <button class="skillplusBtn" type="button">
                <i class="fa-solid fa-circle-plus"></i>
            </button>
        </div>
    
        <div class="SecondOS">
            <input id="MainSkill" type="text" name="MainSkill"><br>
            <input id="Skill" type="text" name="Skill"><br>
            <input id="Skill" type="text" name="Skill"><br>
            <input id="Skill" type="text" name="Skill"><br>
            <button class="skillplusBtn" type="button">
                <i class="fa-solid fa-circle-plus"></i>
            </button>
        </div>
    
        <button class="mainOtherSkillplusBtn" type="button">
            <i class="fa-solid fa-circle-plus"></i>
        </button>
    </div>
</th:block>
</html>