<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/settingLayout}">
<th:block layout:fragment="script">
    <script src="https://kit.fontawesome.com/71b0ef762e.js" crossorigin="anonymous"></script>
    <script type="text/javascript" defer th:src="@{/js/aboutMe.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link th:href="@{/css/setting/settingAboutMeT2.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="content">
    <!-- aboutMe 템플릿2-->
    <div class="aboutMeTemplate2">
        <input type="hidden" id="aboutMeType" value="1">
        <input type="hidden" th:value="${aboutMe.aboutMeId}" id="aboutMeId">
        <input type="hidden" th:value="${portfolioid}" id="portfolioid">
        <!-- 대표 이미지 추가버튼 -->
        <div class="section1" th:field="${aboutMe.aboutMeTitle1}">
            <input id="file-img" type="file" onchange="addImgRepresent(this.files)"/>

            <label class="btn-change-img" for="file-img" >
                <img class="img-background" th:src="${aboutMe.aboutMeImg}" />
                <ion-icon name="add-circle"></ion-icon>
            </label>
        </div>
        <!-- 자기소개1, 1부연설명 -->
        <div class="section2">
            <input id="intro1" type="text" name="intro1" th:field="${aboutMe.aboutMeTitle1}"
                placeholder="자기소개 제목을 입력해주세요">
            <textarea id="detail1" name="detail1" th:field="${aboutMe.aboutMeIntro1}"
                placeholder="자기소개 내용을 입력해주세요"></textarea>
        </div>
    </div>

    <button class="btn-save btn-position-60-100" onclick="saveAboutMe()">저장</button>

</th:block>

</html>