<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/7a1cc41098.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/setting/settingProject.css">
    <title>Document</title>
</head>

<body>
    <section id="project">
        <!-- 배열 안에 있는 내용들을 집어 넣어서 최종 길이가 되도록 설정해야함 -->
        <!-- TODO(이묘): https://ifuwanna.tistory.com/200 참고해서 each 문 넣어놓을 것 -->
        <!-- TODO: 클릭 시 edit 창으로 가세요 -->
        <div class="card">
            <!-- 앞면 -->
            <div id="projectCardFront" class="front">
                <img src="https://images.unsplash.com/photo-1664574654529-b60630f33fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                    alt="porjectImg">
                <h3 id="projectTitle">TESTITLE</h3>
                <p id="projectAbout">어떠어떠한 프로젝트를 만들었다는 것을 대략적으로 설명해주기 위해서 있습니다.</p>
                <p id="projectDate">2022.01.01 ~ 2022.08.08</p>
            </div>
        </div>
        <div class="card">
            <!-- 앞면 -->
            <div id="projectCardFront" class="front">
                <img src="https://images.unsplash.com/photo-1664574654529-b60630f33fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                    alt="porjectImg">
                <h3 id="projectTitle">TESTITLE</h3>
                <p id="projectAbout">어떠어떠한 프로젝트를 만들었다는 것을 대략적으로 설명해주기 위해서 있습니다.</p>
                <p id="projectDate">2022.01.01 ~ 2022.08.08</p>
            </div>
        </div>
        <div class="card">
            <!-- 앞면 -->
            <div id="projectCardFront" class="front">
                <img src="https://images.unsplash.com/photo-1664574654529-b60630f33fdb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=600&q=60"
                    alt="porjectImg">
                <h3 id="projectTitle">TESTITLE</h3>
                <p id="projectAbout">어떠어떠한 프로젝트를 만들었다는 것을 대략적으로 설명해주기 위해서 있습니다.</p>
                <p id="projectDate">2022.01.01 ~ 2022.08.08</p>
            </div>
        </div>

        <!-- TODO: 클릭 시 edit창으로 넘어가도록 -->
        <div class="card">
            <img src="../../static/img/plus.png" alt="plus" class="plus">
        </div>
    </section>
    <!-- TODO: 적용버튼(전부 동일하게 만들어야함) -->
</body>

</html>