<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/settingLayout}">
<!-- <link th:href="@{/css/setting/settingOtherSkill.css}" rel="stylesheet"> -->

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/setting/settingOtherSkill.css}">
</th:block>

<th:block layout:fragment="script">
    <script type="text/javascript" defer th:src="@{/js/otherSkill.js}"></script>
</th:block>



<th:block layout:fragment="content">
    <div class="allOtherSkill">

        <button class="btn-add-box">
            <ion-icon name="add-circle-outline"></ion-icon>
        </button>
        <input type="hidden" th:value="${portfolioid}" id="portfolioid">
        <div class="os-wrap">
            <div class="os-box" th:each="otherskill : ${otherskilllist}">
                <div class="main-skill-box">
                    <ion-icon name="close-circle-outline" onclick="deleteBaseOtherSkill(this)"></ion-icon>
                    <input id="mainSkill" type="text" name="MainSkill" th:value="${otherskill.otherSkillBaseName}" autofocus><br>
                    <input id="mainSkillId" type="hidden" name="mainSkillId" th:value="${otherskill.otherSkillBaseId}">
                </div>

                <div class="sub-skill-box" th:each="subotherskill : ${otherskill.otherSkillSubList}">
                    <ion-icon name="close-circle-outline" onclick="deleteSubBaseOtherSkill(this)"></ion-icon>
                    <input id="subSkill" type="text" name="Skill" th:value="${subotherskill.otherSkillSubName}"><br>
                    <input id="subSkillId" type="hidden" name="subSkillId" th:value="${subotherskill.otherSkillSubId}">
                    <input id="baseSkillId" type="hidden" name="baseSkillId" th:value="${subotherskill.otherSkillBaseId}">
                </div>

                <button class="btn-subskill-add" type="button" onclick="addSubOtherSkill(this)">
                    <ion-icon name="add-circle"></ion-icon>
                </button>
            </div>
        </div>
    </div>
    <button class="btn-save btn-position-60-100" onclick="saveOtherSkill()">SAVE</button>
</th:block>

</html>