<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:fragment="layout/settingLayout">
<link th:href="@{/css/setting/settingLanguageSkill.css}" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LanguageSkill setting</title>
    <link rel="stylesheet" href="@{/css/setting/settingLanguageSkill.css}">

    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/setting/settingLang.js}"></script>
</head>
<body>
    <section class="main-wrap">
        <div class="item-wrap">
            <button class="btn-add-langbox" th:onClick="addLangBox(1)">
                <ion-icon name="add-circle"></ion-icon>
            </button>

            <!-- language box -->
            <!-- TODO: 이걸 반복하면 됩니당 id도 기본 주는 id값 받아서 바꿔주세요-->
            <div class="language-box" id="1">
                <button class="btn-delete">
                    <ion-icon name="close"></ion-icon>
                </button>

                <input type="text" class="input-langname" placeholder="언어 이름을 입력해주세요" />

                <!-- id값은 고유값으로 지정바람 -->
                <div class="progressbar">
                    <span id="value">50</span>
                    <span>%</span>
                    <input type="range" value="50" min="0" max="100"
                        oninput="document.getElementById('value').innerHTML=this.value;">
                </div>

                <div class="lang-framework-box">
                    <!-- 아이콘 폰트어썸에서 쓰면 계정따라 스크립트 src가 바껴서 다른거 사용함 -->
                    <button>
                        <ion-icon name="add-circle"></ion-icon>
                    </button>

                    <!-- plus버튼 누르면 나타나야할 요소 -->
                    <span>
                        <input type="text" placeholder="framework" />
                    </span>

                    <!-- TODO: 받아온 프레임워크에 따라서 반복해줘야할 요소 -->
                    <span>react</span>
                </div>

                <textarea class="lang-textarea"
                    placeholder="언어 사용에 대한 내용이나 느낀점을 적주세요.&#13;&#10;엔터 기준으로 분리해주세요."></textarea>
            </div>

        </div>



    </section>
</body>

</html>