<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/settingLayout}">
<th:block layout:fragment="script">
    <script type="text/javascript" defer th:src="@{/js/home.js}"></script>
</th:block>
<th:block layout:fragment="css">
    <link th:href="@{/css/setting/settingHome.css}" rel="stylesheet">
</th:block>

<!-- fontawesome - 아이콘-->
<th:block layout:fragment="content">

    <input type="hidden" th:value="${portfolioid}" id="portfolioid">
    <input type="hidden" value="" id="typeinput">
    <div class="hometpl">
        <!--예시 템플릿 1-->
        <div class="templet-box">
            <button class="btn-img1" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="1">
                <div class="opacity-box">
                    <p>배경사진을 선택할 수 있고, 간단한 소개글을 입력할 수 있습니다</p>
                </div>
            </button>
            <p>템플릿 1</p>
        </div>

        <!--예시 템플릿 2-->
        <div class="templet-box">
            <button class="btn-img2" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="2">
                <div class="opacity-box">
                    <p>간단한 소개글만 입력할 수 있습니다</p>
                </div>
            </button>
            <p>템플릿 2</p>
        </div>

        <!--예시 템플릿 3-->
        <div class="templet-box">
            <button class="btn-img3" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
                data-bs-whatever="3">
                <div class="opacity-box">
                    <p>소개글 옆에 작은 이미지와 간단한 소개글을 입력할 수 있습니다 <br> 배경이미지는 회색으로 고정입니다.</p>
                </div>
            </button>
            <p>템플릿 3</p>
        </div>
    </div>


    <!-- 모달창 -->
    <div class="modal fade" id="exampleModal" data-bs-backdrop="static" tabindex="-1"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">템플릿 1 옵션 선택</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">포트폴리오 제목 입력하기</label>
                        <input type="text" class="form-control" id="title" th:value="${portfolioHome.portfolioName}" placeholder="포트폴리오 제목">
                    </div>
                    <div class="mb-3 modal-select-img-box">
                        <label for="type-name" class="col-form-label">이미지 넣기</label>
                        <input type="file" class="form-control" id="img-url" onchange="addImgRepresent(this.files)">
                        <input type="hidden" id="home-img-url" th:value="${portfolioHome.portfolioHomeImg}">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">포트폴리오 소개 글 입력하기</label>
                        <input type="text" class="form-control" id="home-text" th:value="${portfolioHome.portfolioHomeText}" placeholder="포트폴리오 소개 글">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="savePortfolioHome()">SAVE</button>
                </div>
            </div>
        </div>
    </div>
</th:block>


</html>