<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>에러 페이지</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/error/error_page.css}">
    <link rel="stylesheet" href="../../static/css/error/error_page.css">
    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- js -->
</head>

<body>
    <!-- 400 -->
    <section th:if="" class="error-400">
        <div class="main-wrap">
            <img src="https://static.velog.io/static/media/undraw_page_not_found_su7k.7e3de5e9.svg" alt="400 Error"/>
            <h2>BAD REQUEST</h2>
            <h3>요청이 실패하였습니다! 다시 시도해주세요!</h3>
            <a class="btn-home" th:href="@{/myportfolio/list}">
                <ion-icon name="home-outline"></ion-icon>
                <span>홈으로</span>
            </a>
        </div>
    </section>

    <!-- 401 -->
    <!-- <section th:if="" class="error-401">
        <div class="main-wrap">
            <img src="https://static.velog.io/static/media/undraw_page_not_found_su7k.7e3de5e9.svg" alt="401 Error"/>
            <h2>로그인 후에<br>다시 시도해주세요!</h2>
            <a class="btn-home" th:href="@{/myportfolio/list}">
                <ion-icon name="home-outline"></ion-icon>
                홈으로
            </a>
        </div>
    </section> -->

    <!-- 404 -->
    <!-- <section th:if="" class="error-404">
        <div class="main-wrap">
            <img src="https://static.velog.io/static/media/undraw_page_not_found_su7k.7e3de5e9.svg" alt="404 Error"/>
            <h2>요청하신 페이지를<br>찾을 수 없습니다!</h2>
            <a class="btn-home" th:href="@{/myportfolio/list}">
                <ion-icon name="home-outline"></ion-icon>
                홈으로
            </a>
        </div>
    </section> -->

    <!-- 500 -->
    <!-- <section th:if="" class="error-500">
        <div class="main-wrap">
            <img src="https://static.velog.io/static/media/undraw_page_not_found_su7k.7e3de5e9.svg" alt="500 Error"/>
            <h2>서버를 고치고 있습니다!</h2>
            <h3>나중에 다시 시도하여 주세요!</h3>
            <a class="btn-home" th:href="@{/myportfolio/list}">
                <ion-icon name="home-outline"></ion-icon>
                홈으로
            </a>
        </div>
    </section> -->
</body>

</html>