<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>에러 페이지</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/error/error_page.css}">
    <!-- <link rel="stylesheet" href="../../static/css/error/error_page.css"> -->
    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- js -->
</head>

<body>
    <!-- 400 -->
    <section th:if="${error==400}" class="error-400">
        <div class="main-wrap">
            <img th:src="@{/img/error/400.png}" alt="400Error"/>
            <h2>BAD REQUEST</h2>
            <h3>요청이 실패하였습니다! 다시 시도해주세요!</h3>
            <a class="btn-home" th:href="@{/}">
                <ion-icon name="home-outline"></ion-icon>
                <span>홈으로</span>
            </a>
        </div>
    </section>

    <!-- 401 -->
    <section th:if="${error==401 || error==403}" class="error-401">
        <div class="main-wrap">
            <img th:src="@{/img/error/401.png}" alt="401 Error"/>
            <h2>올바른 사용자로 로그인 후에<br>다시 시도해주세요!</h2>
            <a class="btn-home" th:href="@{/}">
                <ion-icon name="home-outline"></ion-icon>
                홈으로
            </a>
        </div>
    </section>

    <!-- 500 -->
    <section th:if="${error==500}" class="error-500">
        <div class="main-wrap">
            <img th:src="@{/img/error/500.png}" alt="500 Error"/>
            <h2>서버를 고치고 있습니다!</h2>
            <h3>나중에 다시 시도하여 주세요!</h3>
            <a class="btn-home" th:href="@{/}">
                <ion-icon name="home-outline"></ion-icon>
                홈으로
            </a>
        </div>
    </section>
123
</body>

</html>