<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>에러 페이지</title>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/error/error_page.css}">
    <!-- 아이콘 -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- js -->
</head>

<body>
        <!-- 404 -->
        <section>
            <div class="main-wrap">
                <img th:src="@{/img/error/404.png}" alt="404 Error"/>
                <!-- <div class="error-img"></div> -->
                <h2>요청하신 페이지를<br>찾을 수 없습니다!</h2>
                <a class="btn-home" th:href="@{/}">
                    <ion-icon name="home-outline"></ion-icon>
                    홈으로
                </a>
            </div>
        </section>
</body>

</html>