<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me 화면(2)</title>
    <link rel="stylesheet" href="../static/css/aboutMe.css">
</head>
<body>
    <!-- crefolio,  -->
    <div></div>

    
    <content>
        <!-- ABOUT ME-->
        <div>

        </div>

        <!-- 이미지추가 버튼, 자기소개1 TextArea, 자기소개부연설명1 TextArea -->
        <div class="input-wrap">


        </div>
    
    </content>

    <!-- 페이지 버튼, 적용버튼, 색 바꾸는 버튼 -->
    <div></div>

    
</body>


        <!-- IMG 넣는 버튼
        <div class="inputImg">
            <form method="post" enctype="multipart/form-data">
                <div class="btn">
                    <label for="chooseFile">
                        <img src="../static/img/plus.png">
                    </label>
                </div>
                <input type="file" id="chooseFile" name="chooseFile" accept="image/*" onchange="loadFile(this)">
            </form>
        </div>-->
</html>