<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>로그인화면</title>
		<link rel="stylesheet" href="../static/css/login.css">
	</head>
	<body>
		<a href="/oauth2/authorization/google">구글 아이디로 로그인</a>

		<!-- 프로젝트 이름 -->
		<header>
			<div class="projectname">
				<p>CreFoilo</p>
			</div>
		</header>

		<!-- 구글 아이디로 로그인 버튼 -->
		<content>
			
		</content>

		<!-- 포트폴리오를 생성하고 싶다면 소셜 로그인을 진행해주세요 text -->
		<footer>
			
		</footer>
	</body>




</html>
