<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 포트폴리오</title>

    <!-- chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <link rel="stylesheet" href="../../static/css/portfoilo_css/style.css">
    <link rel="javascript/text" href="../../static/js/portfolio_js/chartView.js">
</head>
<body>
    <!-- <section id="home">
        home
    </section> -->

    <!-- <section id="aboutMe" style="width: 100%; height:100vh">
        about me
    </section> -->

    <section id="languageSkill" style="background-color: var(--gray100); color:var(--gray900);">
        <h1 class="main-title">LANGUAGE SKILL</h1>

        <div>
            <canvas id="pie-chart" width="250" height="250"></canvas>

        </div>
    </section>
</body>
</html>